// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100%;
  background-image: url("http://thumbs.dreamstime.com/z/union-square-city-life-downtown-san-francisco-8501093.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

div.panel {
  font-size: 1.5em;
}

iframe {
  z-index: 2;
}

.margin-bottom {
margin-bottom:15px;}

#result-table {
  background-color: rgba(0, 153, 204,0.4);
}

.table-hover td {
   text-align: center;   
}

.field_with_errors {
  color: red;
}
